# To run chatglm, make sure python>=3.9
icetk
cpm_kernels==1.0.11
torch>=1.13

datasets
loralib
sentencepiece
git+https://github.com/huggingface/transformers.git
accelerate
bitsandbytes
git+https://github.com/huggingface/peft.git
gradio
appdirs

fastapi
